body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 0.2rem 0;
  text-align: center;
  background: #fafafa;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
}

#lostedStatus {
  color: #ff6384;
}

#receivedStatus {
  color: #36a2eb;
}

tr:hover {
  cursor: pointer;
}

tr.selected {
  background-color: rgba(0, 0, 0, 0.075);
}
